[submodule "ensure"]
	path = ensure
	url = https://github.com/wdl83/ensure
[submodule "modbus_tools"]
	path = modbus_tools
	url = https://github.com/wdl83/modbus_tools
[submodule "AMQP-CPP"]
	path = AMQP-CPP
	url = https://github.com/CopernicaMarketingSoftware/AMQP-CPP
